.cardGrid {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  border: 1px solid darkcyan;
  background: darkcyan;
}

.card i {
  font-size: 60px;
  color: white;
}

.matched {
  display: block;
}
