.cardGrid {
  display: flex;
}

.card {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  border: 1px solid darkcyan;
}

.card i {
  font-size: 30px;
  color: darkcyan;
}
